<?xml version="1.0" encoding="UTF-8"?>

<simpleviewergallery title="Tea Party"
	galleryStyle="MODERN"
	thumbPosition="LEFT"
	textColor="FFFFFF"
	frameColor="FFFFFF"
	thumbRows="4"
	thumbColumns="3"
	showOpenButton="TRUE"
	showFullscreenButton="TRUE"
	frameWidth="20"
	maxImageWidth="800"
	maxImageHeight="800"
	imagePath=""
	thumbPath=""
	useFlickr="false"

>
  <image imageURL="images/tea_party_3.jpg"
	thumbURL="thumbnails/tea_party_3.jpg"
	linkURL="images/tea_party_3.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2011_teaparty\images\tea_party_3.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Tea Demonstration Gift Baskets at our Open House]]></caption>
  </image>
  <image imageURL="images/tea_party_2.jpg"
	thumbURL="thumbnails/tea_party_2.jpg"
	linkURL="images/tea_party_2.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2011_teaparty\images\tea_party_2.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Tea Demonstration and Tea Party  at our Open House]]></caption>
  </image>
  <image imageURL="images/tea_party_1.jpg"
	thumbURL="thumbnails/tea_party_1.jpg"
	linkURL="images/tea_party_1.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2011_teaparty\images\tea_party_1.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Tea Demonstration and Tea Party  at our Open House]]></caption>
  </image>
</simpleviewergallery>