<?xml version="1.0" encoding="UTF-8"?>

<simpleviewergallery title="Harvest2010"
	galleryStyle="MODERN"
	thumbPosition="LEFT"
	textColor="FFFFFF"
	frameColor="FFFFFF"
	thumbRows="4"
	thumbColumns="3"
	showOpenButton="TRUE"
	showFullscreenButton="TRUE"
	frameWidth="20"
	maxImageWidth="800"
	maxImageHeight="800"
	imagePath=""
	thumbPath=""
	useFlickr="false"

>
  <image imageURL="images/presentation.jpg"
	thumbURL="thumbnails/presentation.jpg"
	linkURL="images/presentation.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2010_HarvestTeaParty\images\presentation.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Our Tea Party Guests]]></caption>
  </image>
  <image imageURL="images/guests_2.jpg"
	thumbURL="thumbnails/guests_2.jpg"
	linkURL="images/guests_2.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2010_HarvestTeaParty\images\guests_2.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Tea Presentation with Tea Master Mrs. Connie Fong]]></caption>
  </image>
  <image imageURL="images/guests_1.jpg"
	thumbURL="thumbnails/guests_1.jpg"
	linkURL="images/guests_1.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2010_HarvestTeaParty\images\guests_1.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Tea Party Guests]]></caption>
  </image>
  <image imageURL="images/tea_party.jpg"
	thumbURL="thumbnails/tea_party.jpg"
	linkURL="images/tea_party.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2010_HarvestTeaParty\images\tea_party.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Emily, Rita and Connie at the Harvest Celebration]]></caption>
  </image>
</simpleviewergallery>