<?xml version="1.0" encoding="UTF-8"?>

<simpleviewergallery title="Cambridge Food and Wine"
	galleryStyle="MODERN"
	thumbPosition="LEFT"
	textColor="FFFFFF"
	frameColor="FFFFFF"
	thumbRows="4"
	thumbColumns="3"
	showOpenButton="TRUE"
	showFullscreenButton="TRUE"
	frameWidth="20"
	maxImageWidth="800"
	maxImageHeight="800"
	imagePath=""
	thumbPath=""
	useFlickr="false"

>
  <image imageURL="images/cambridge1.jpg"
	thumbURL="thumbnails/cambridge1.jpg"
	linkURL="images/cambridge1.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2011_cambridge\images\cambridge1.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[The Honourable Senator Pamela Wallin, Recipient of the Cambridge Lifetime Achievement Award]]></caption>
  </image>
  <image imageURL="images/cambridge4.jpg"
	thumbURL="thumbnails/cambridge4.jpg"
	linkURL="images/cambridge4.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2011_cambridge\images\cambridge4.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Chinese Tea Culture Canada Inc. is one of the Proud Sponsors of the Cambridge Food&Wine Society Event]]></caption>
  </image>
  <image imageURL="images/cambridge3.jpg"
	thumbURL="thumbnails/cambridge3.jpg"
	linkURL="images/cambridge3.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2011_cambridge\images\cambridge3.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[cambridge3.jpg]]></caption>
  </image>
  <image imageURL="images/cambridge2.jpg"
	thumbURL="thumbnails/cambridge2.jpg"
	linkURL="images/cambridge2.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2011_cambridge\images\cambridge2.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[cambridge2.jpg]]></caption>
  </image>
</simpleviewergallery>