<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	useFlickr="false"
	galleryTitle="At The Zoo: September 2013"
	textColor="rgba(255,255,255,1)"
	thumbFrameColor="rgba(255,255,255,0.5)"
	showOpenButton="TRUE"
	showExpandButton="TRUE"
	showThumbsButton="TRUE"
	useThumbDots="FALSE"
	useFullscreenExpand="FALSE"

>
  <image imageURL="images/thumb.jpg"
	thumbURL="thumbnails/thumb.jpg"
	linkURL="images/thumb.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2013_zoo\images\thumb.jpg">
    <title><![CDATA[A Wonderful Day at Toronto Zoo]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/zoo_2.jpg"
	thumbURL="thumbnails/zoo_2.jpg"
	linkURL="images/zoo_2.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2013_zoo\images\zoo_2.jpg">
    <title><![CDATA[A Wonderful Day at Toronto Zoo]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/zoo_3.jpg"
	thumbURL="thumbnails/zoo_3.jpg"
	linkURL="images/zoo_3.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2013_zoo\images\zoo_3.jpg">
    <title><![CDATA[A Wonderful Day at Toronto Zoo]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/zoo_5.jpg"
	thumbURL="thumbnails/zoo_5.jpg"
	linkURL="images/zoo_5.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2013_zoo\images\zoo_5.jpg">
    <title><![CDATA[A Wonderful Day at Toronto Zoo]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/zoo_6.jpg"
	thumbURL="thumbnails/zoo_6.jpg"
	linkURL="images/zoo_6.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2013_zoo\images\zoo_6.jpg">
    <title><![CDATA[A Wonderful Day at Toronto Zoo]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/zoo_7.jpg"
	thumbURL="thumbnails/zoo_7.jpg"
	linkURL="images/zoo_7.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2013_zoo\images\zoo_7.jpg">
    <title><![CDATA[A Wonderful Day at Toronto Zoo]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/zoo_8.jpg"
	thumbURL="thumbnails/zoo_8.jpg"
	linkURL="images/zoo_8.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2013_zoo\images\zoo_8.jpg">
    <title><![CDATA[A Wonderful Day at Toronto Zoo]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>