<?xml version="1.0" encoding="UTF-8"?>

<simpleviewergallery title="Woodbine 2007"
	galleryStyle="MODERN"
	thumbPosition="LEFT"
	textColor="FFFFFF"
	frameColor="FFFFFF"
	thumbRows="4"
	thumbColumns="3"
	showOpenButton="TRUE"
	showFullscreenButton="TRUE"
	frameWidth="20"
	maxImageWidth="800"
	maxImageHeight="800"
	imagePath=""
	thumbPath=""
	useFlickr="false"

>
  <image imageURL="images/4460981164_580bdbf416_o.jpg"
	thumbURL="thumbnails/4460981164_580bdbf416_o.jpg"
	linkURL="images/4460981164_580bdbf416_o.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2007_woodbine\images\4460981164_580bdbf416_o.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Woodbine Racetrack.jpg]]></caption>
  </image>
  <image imageURL="images/4460200739_c4e0deb052_o.jpg"
	thumbURL="thumbnails/4460200739_c4e0deb052_o.jpg"
	linkURL="images/4460200739_c4e0deb052_o.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2007_woodbine\images\4460200739_c4e0deb052_o.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Woodbine Racetrack.jpg]]></caption>
  </image>
</simpleviewergallery>