<?xml version="1.0" encoding="UTF-8"?>

<simpleviewergallery title="Chinese New Years 2010"
	galleryStyle="MODERN"
	thumbPosition="LEFT"
	textColor="FFFFFF"
	frameColor="FFFFFF"
	thumbRows="4"
	thumbColumns="3"
	showOpenButton="TRUE"
	showFullscreenButton="TRUE"
	frameWidth="20"
	maxImageWidth="800"
	maxImageHeight="800"
	imagePath=""
	thumbPath=""
	useFlickr="false"

>
  <image imageURL="images/cny_2.jpg"
	thumbURL="thumbnails/cny_2.jpg"
	linkURL="images/cny_2.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2010_cny_event\images\cny_2.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Chinese New Years 2010]]></caption>
  </image>
  <image imageURL="images/cny_1.jpg"
	thumbURL="thumbnails/cny_1.jpg"
	linkURL="images/cny_1.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2010_cny_event\images\cny_1.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Chinese New Years 2010]]></caption>
  </image>
  <image imageURL="images/cny_3.jpg"
	thumbURL="thumbnails/cny_3.jpg"
	linkURL="images/cny_3.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2010_cny_event\images\cny_3.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Chinese New Years 2010]]></caption>
  </image>
</simpleviewergallery>