<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	useFlickr="false"
	galleryTitle="At the ROM: May 2015"
	textColor="rgba(255,255,255,1)"
	thumbFrameColor="rgba(255,255,255,0.5)"
	showOpenButton="TRUE"
	showExpandButton="TRUE"
	showThumbsButton="TRUE"
	useThumbDots="FALSE"
	useFullscreenExpand="FALSE"

>
  <image imageURL="images/1.jpg"
	thumbURL="thumbnails/1.jpg"
	linkURL="images/1.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2015_rom_may\images\1.jpg">
    <title><![CDATA[1.jpg]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2.jpg"
	thumbURL="thumbnails/2.jpg"
	linkURL="images/2.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2015_rom_may\images\2.jpg">
    <title><![CDATA[2.jpg]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/3.jpg"
	thumbURL="thumbnails/3.jpg"
	linkURL="images/3.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2015_rom_may\images\3.jpg">
    <title><![CDATA[3.jpg]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/4.jpg"
	thumbURL="thumbnails/4.jpg"
	linkURL="images/4.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2015_rom_may\images\4.jpg">
    <title><![CDATA[4.jpg]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/thumb2.jpg"
	thumbURL="thumbnails/thumb2.jpg"
	linkURL="images/thumb2.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2015_rom_may\images\thumb2.jpg">
    <title><![CDATA[thumb2.jpg]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/thumb3.jpg"
	thumbURL="thumbnails/thumb3.jpg"
	linkURL="images/thumb3.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2015_rom_may\images\thumb3.jpg">
    <title><![CDATA[thumb3.jpg]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/thumb4.jpg"
	thumbURL="thumbnails/thumb4.jpg"
	linkURL="images/thumb4.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2015_rom_may\images\thumb4.jpg">
    <title><![CDATA[thumb4.jpg]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>