<?xml version="1.0" encoding="UTF-8"?>
<juiceboxgallery
	useFlickr="FALSE"
	galleryTitle="At The Rom: February 2016"
	textColor="rgba(255,255,255,1)"
	thumbFrameColor="rgba(255,255,255,0.5)"
	showOpenButton="TRUE"
	showExpandButton="TRUE"
	showThumbsButton="TRUE"
	useThumbDots="FALSE"
	useFullscreenExpand="FALSE"
>
	<image imageURL="images/20160213_113751.jpg" thumbURL="thumbnails/20160213_113751.jpg" linkURL="" linkTarget="" >
		<title><![CDATA[Family Day Weekend at the ROM]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/20160213_122806.jpg" thumbURL="thumbnails/20160213_122806.jpg" linkURL="" linkTarget="" >
		<title><![CDATA[Family Day Weekend at the ROM]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/1.jpg" thumbURL="thumbnails/1.jpg" linkURL="" linkTarget="" >
		<title><![CDATA[Family Day Weekend at the ROM]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/20160213_123458.jpg" thumbURL="thumbnails/20160213_123458.jpg" linkURL="" linkTarget="" >
		<title><![CDATA[Family Day Weekend at the ROM]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/20160213_145544.jpg" thumbURL="thumbnails/20160213_145544.jpg" linkURL="" linkTarget="" >
		<title><![CDATA[Family Day Weekend at the ROM]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/20160213_145851.jpg" thumbURL="thumbnails/20160213_145851.jpg" linkURL="" linkTarget="" >
		<title><![CDATA[Family Day Weekend at the ROM]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/2.jpg" thumbURL="thumbnails/2.jpg" linkURL="" linkTarget="" >
		<title><![CDATA[Family Day Weekend at the ROM]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/20160213_153527.jpg" thumbURL="thumbnails/20160213_153527.jpg" linkURL="" linkTarget="" >
		<title><![CDATA[Family Day Weekend at the ROM]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/20160214_145135.jpg" thumbURL="thumbnails/20160214_145135.jpg" linkURL="" linkTarget="" >
		<title><![CDATA[Family Day Weekend at the ROM]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/20160214_145240.jpg" thumbURL="thumbnails/20160214_145240.jpg" linkURL="" linkTarget="" >
		<title><![CDATA[20160214_145240.jpg]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/3.jpg" thumbURL="thumbnails/3.jpg" linkURL="" linkTarget="" >
		<title><![CDATA[Family Day Weekend at the ROM]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/4.jpg" thumbURL="thumbnails/4.jpg" linkURL="" linkTarget="" >
		<title><![CDATA[Family Day Weekend at the ROM]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/20160214_145605.jpg" thumbURL="thumbnails/20160214_145605.jpg" linkURL="" linkTarget="" >
		<title><![CDATA[Family Day Weekend at the ROM]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/20160215_105227.jpg" thumbURL="thumbnails/20160215_105227.jpg" linkURL="" linkTarget="" >
		<title><![CDATA[Family Day Weekend at the ROM]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/rom_5.jpg" thumbURL="thumbnails/rom_5.jpg" linkURL="" linkTarget="" >
		<title><![CDATA[Family Day Weekend at the ROM]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/rom_7.jpg" thumbURL="thumbnails/rom_7.jpg" linkURL="" linkTarget="" >
		<title><![CDATA[Family Day Weekend at the ROM]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/rom_4.jpg" thumbURL="thumbnails/rom_4.jpg" linkURL="" linkTarget="" >
		<title><![CDATA[Family Day Weekend at the ROM]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/20160215_120039.jpg" thumbURL="thumbnails/20160215_120039.jpg" linkURL="" linkTarget="" >
		<title><![CDATA[Family Day Weekend at the ROM]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/rom_1.jpg" thumbURL="thumbnails/rom_1.jpg" linkURL="" linkTarget="" >
		<title><![CDATA[Family Day Weekend at the ROM]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/thumb.jpg" thumbURL="thumbnails/thumb.jpg" linkURL="" linkTarget="" >
		<title><![CDATA[Family Day Weekend at the ROM]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/20160215_141300.jpg" thumbURL="thumbnails/20160215_141300.jpg" linkURL="" linkTarget="" >
		<title><![CDATA[Family Day Weekend at the ROM]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/20160215_141304.jpg" thumbURL="thumbnails/20160215_141304.jpg" linkURL="" linkTarget="" >
		<title><![CDATA[Family Day Weekend at the ROM]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/6.jpg" thumbURL="thumbnails/6.jpg" linkURL="" linkTarget="" >
		<title><![CDATA[Family Day Weekend at the ROM]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/rom_2.jpg" thumbURL="thumbnails/rom_2.jpg" linkURL="" linkTarget="" >
		<title><![CDATA[Family Day Weekend at the ROM]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/rom_8.jpg" thumbURL="thumbnails/rom_8.jpg" linkURL="" linkTarget="" >
		<title><![CDATA[Family Day Weekend at the ROM]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/rom_6.jpg" thumbURL="thumbnails/rom_6.jpg" linkURL="" linkTarget="" >
		<title><![CDATA[Family Day Weekend at the ROM]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/rom_10.jpg" thumbURL="thumbnails/rom_10.jpg" linkURL="" linkTarget="" >
		<title><![CDATA[Family Day Weekend at the ROM]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/20160215_153609.jpg" thumbURL="thumbnails/20160215_153609.jpg" linkURL="" linkTarget="" >
		<title><![CDATA[Family Day Weekend at the ROM]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/20160215_153647.jpg" thumbURL="thumbnails/20160215_153647.jpg" linkURL="" linkTarget="" >
		<title><![CDATA[Family Day Weekend at the ROM]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/20160215_153701.jpg" thumbURL="thumbnails/20160215_153701.jpg" linkURL="" linkTarget="" >
		<title><![CDATA[Family Day Weekend at the ROM]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/20160215_153748.jpg" thumbURL="thumbnails/20160215_153748.jpg" linkURL="" linkTarget="" >
		<title><![CDATA[Family Day Weekend at the ROM]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/20160215_153823.jpg" thumbURL="thumbnails/20160215_153823.jpg" linkURL="" linkTarget="" >
		<title><![CDATA[Family Day Weekend at the ROM]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/20160215_153902.jpg" thumbURL="thumbnails/20160215_153902.jpg" linkURL="" linkTarget="" >
		<title><![CDATA[Family Day Weekend at the ROM]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/20160215_153907.jpg" thumbURL="thumbnails/20160215_153907.jpg" linkURL="" linkTarget="" >
		<title><![CDATA[Family Day Weekend at the ROM]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/20160215_153918.jpg" thumbURL="thumbnails/20160215_153918.jpg" linkURL="" linkTarget="" >
		<title><![CDATA[Family Day Weekend at the ROM]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/20160215_154449.jpg" thumbURL="thumbnails/20160215_154449.jpg" linkURL="" linkTarget="" >
		<title><![CDATA[Family Day Weekend at the ROM]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/rom_3.jpg" thumbURL="thumbnails/rom_3.jpg" linkURL="" linkTarget="" >
		<title><![CDATA[rom_3.jpg]]></title>
		<caption><![CDATA[]]></caption>
	</image>
</juiceboxgallery>
