<?xml version="1.0" encoding="UTF-8"?>

<simpleviewergallery title="Heritage Day 2013"
	galleryStyle="MODERN"
	thumbPosition="LEFT"
	textColor="FFFFFF"
	frameColor="FFFFFF"
	thumbRows="4"
	thumbColumns="3"
	showOpenButton="TRUE"
	showFullscreenButton="TRUE"
	frameWidth="20"
	maxImageWidth="800"
	maxImageHeight="800"
	imagePath=""
	thumbPath=""
	useFlickr="false"

>
  <image imageURL="images/dscn0194.jpg"
	thumbURL="thumbnails/dscn0194.jpg"
	linkURL="images/dscn0194.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2013_heritage_day\images\dscn0194.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Heritage Day]]></caption>
  </image>
  <image imageURL="images/dscn0204.jpg"
	thumbURL="thumbnails/dscn0204.jpg"
	linkURL="images/dscn0204.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2013_heritage_day\images\dscn0204.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Heritage Day]]></caption>
  </image>
  <image imageURL="images/dscn0205.jpg"
	thumbURL="thumbnails/dscn0205.jpg"
	linkURL="images/dscn0205.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2013_heritage_day\images\dscn0205.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Heritage Day]]></caption>
  </image>
  <image imageURL="images/dscn0210.jpg"
	thumbURL="thumbnails/dscn0210.jpg"
	linkURL="images/dscn0210.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2013_heritage_day\images\dscn0210.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Heritage Day]]></caption>
  </image>
  <image imageURL="images/dscn0228.jpg"
	thumbURL="thumbnails/dscn0228.jpg"
	linkURL="images/dscn0228.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2013_heritage_day\images\dscn0228.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Heritage Day]]></caption>
  </image>
</simpleviewergallery>