<?xml version="1.0" encoding="UTF-8"?>

<simpleviewergallery title="Tea Seminar at the Chinese Cultural Centre"
	galleryStyle="MODERN"
	thumbPosition="LEFT"
	textColor="FFFFFF"
	frameColor="FFFFFF"
	thumbRows="4"
	thumbColumns="3"
	showOpenButton="TRUE"
	showFullscreenButton="TRUE"
	frameWidth="20"
	maxImageWidth="800"
	maxImageHeight="800"
	imagePath=""
	thumbPath=""
	useFlickr="false"

>
  <image imageURL="images/ccc_setup.jpg"
	thumbURL="thumbnails/ccc_setup.jpg"
	linkURL="images/ccc_setup.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2012_fcc\images\ccc_setup.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Tea Display for Families with Children from China]]></caption>
  </image>
  <image imageURL="images/ccc_demostration2.jpg"
	thumbURL="thumbnails/ccc_demostration2.jpg"
	linkURL="images/ccc_demostration2.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2012_fcc\images\ccc_demostration2.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Tea Seminar (FCC) at Chinese Cultural Centre of Greater Toronto]]></caption>
  </image>
  <image imageURL="images/ccc_tea_tasting.jpg"
	thumbURL="thumbnails/ccc_tea_tasting.jpg"
	linkURL="images/ccc_tea_tasting.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2012_fcc\images\ccc_tea_tasting.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Tea Tasting!]]></caption>
  </image>
  <image imageURL="images/ccc_demostration1.jpg"
	thumbURL="thumbnails/ccc_demostration1.jpg"
	linkURL="images/ccc_demostration1.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2012_fcc\images\ccc_demostration1.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Tea Seminar (FCC) at Chinese Cultural Centre of Greater Toronto]]></caption>
  </image>
  <image imageURL="images/ccc.jpg"
	thumbURL="thumbnails/ccc.jpg"
	linkURL="images/ccc.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2012_fcc\images\ccc.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Annual Culture Camp at Chinese Cultural Centre of Greater Toronto]]></caption>
  </image>
</simpleviewergallery>