<?xml version="1.0" encoding="UTF-8"?>

<simpleviewergallery title="midautumn2010"
	galleryStyle="MODERN"
	thumbPosition="LEFT"
	textColor="FFFFFF"
	frameColor="FFFFFF"
	thumbRows="4"
	thumbColumns="3"
	showOpenButton="TRUE"
	showFullscreenButton="TRUE"
	frameWidth="20"
	maxImageWidth="800"
	maxImageHeight="800"
	imagePath=""
	thumbPath=""
	useFlickr="false"

>
  <image imageURL="images/rom_1.jpg"
	thumbURL="thumbnails/rom_1.jpg"
	linkURL="images/rom_1.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\mid_autumn2010\images\rom_1.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Emily Kung-Quance with Ron So]]></caption>
  </image>
  <image imageURL="images/rom_2.jpg"
	thumbURL="thumbnails/rom_2.jpg"
	linkURL="images/rom_2.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\mid_autumn2010\images\rom_2.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Our Tea Banner]]></caption>
  </image>
  <image imageURL="images/rom_3.jpg"
	thumbURL="thumbnails/rom_3.jpg"
	linkURL="images/rom_3.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\mid_autumn2010\images\rom_3.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Emily Kung-Quance and Rita So prepare for battle]]></caption>
  </image>
  <image imageURL="images/rom_4.jpg"
	thumbURL="thumbnails/rom_4.jpg"
	linkURL="images/rom_4.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\mid_autumn2010\images\rom_4.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Eager Tea Tasters!]]></caption>
  </image>
  <image imageURL="images/rom_5.jpg"
	thumbURL="thumbnails/rom_5.jpg"
	linkURL="images/rom_5.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\mid_autumn2010\images\rom_5.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Tea Tasting]]></caption>
  </image>
</simpleviewergallery>