<?xml version="1.0" encoding="UTF-8"?>

<simpleviewergallery title="OMRA 2009"
	galleryStyle="MODERN"
	thumbPosition="LEFT"
	textColor="FFFFFF"
	frameColor="FFFFFF"
	thumbRows="4"
	thumbColumns="3"
	showOpenButton="TRUE"
	showFullscreenButton="TRUE"
	frameWidth="20"
	maxImageWidth="800"
	maxImageHeight="800"
	imagePath=""
	thumbPath=""
	useFlickr="false"

>
  <image imageURL="images/ministry_a.jpg"
	thumbURL="thumbnails/ministry_a.jpg"
	linkURL="images/ministry_a.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2009_ministry_event\images\ministry_a.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Ontario Ministry Regional Office 2009]]></caption>
  </image>
  <image imageURL="images/ministry_b.jpg"
	thumbURL="thumbnails/ministry_b.jpg"
	linkURL="images/ministry_b.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2009_ministry_event\images\ministry_b.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Ontario Ministry Regional Office 2009]]></caption>
  </image>
  <image imageURL="images/ministry_c.jpg"
	thumbURL="thumbnails/ministry_c.jpg"
	linkURL="images/ministry_c.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2009_ministry_event\images\ministry_c.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Ontario Ministry Regional Office 2009]]></caption>
  </image>
</simpleviewergallery>