<?xml version="1.0" encoding="UTF-8"?>

<simpleviewergallery title="Tea Ceremony April 2011"
	galleryStyle="MODERN"
	thumbPosition="LEFT"
	textColor="FFFFFF"
	frameColor="FFFFFF"
	thumbRows="4"
	thumbColumns="3"
	showOpenButton="TRUE"
	showFullscreenButton="TRUE"
	frameWidth="20"
	maxImageWidth="800"
	maxImageHeight="800"
	imagePath=""
	thumbPath=""
	useFlickr="false"

>
  <image imageURL="images/img_0304.jpg"
	thumbURL="thumbnails/img_0304.jpg"
	linkURL="images/img_0304.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2011_April_Tea_Ceremony\images\img_0304.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Prime Minister Stephen Harper and his Wife Laureen join the Demonstration]]></caption>
  </image>
  <image imageURL="images/img_0314.jpg"
	thumbURL="thumbnails/img_0314.jpg"
	linkURL="images/img_0314.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2011_April_Tea_Ceremony\images\img_0314.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Tea Master Connie Fong begins her presentation]]></caption>
  </image>
  <image imageURL="images/img_0336.jpg"
	thumbURL="thumbnails/img_0336.jpg"
	linkURL="images/img_0336.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2011_April_Tea_Ceremony\images\img_0336.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Prime Minister Harper and his Wife Laureen enjoy cups of Monkey Picked  Ti Quan Yin]]></caption>
  </image>
  <image imageURL="images/img_0339.jpg"
	thumbURL="thumbnails/img_0339.jpg"
	linkURL="images/img_0339.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2011_April_Tea_Ceremony\images\img_0339.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Tea Master Connie Fong talks about the History of Tea]]></caption>
  </image>
  <image imageURL="images/img_0345.jpg"
	thumbURL="thumbnails/img_0345.jpg"
	linkURL="images/img_0345.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2011_April_Tea_Ceremony\images\img_0345.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[img_0345.jpg]]></caption>
  </image>
  <image imageURL="images/img_3213.jpg"
	thumbURL="thumbnails/img_3213.jpg"
	linkURL="images/img_3213.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2011_April_Tea_Ceremony\images\img_3213.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[A crowd begins to gather at the Tea Ceremony]]></caption>
  </image>
  <image imageURL="images/img_3214.jpg"
	thumbURL="thumbnails/img_3214.jpg"
	linkURL="images/img_3214.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2011_April_Tea_Ceremony\images\img_3214.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[img_3214.jpg]]></caption>
  </image>
  <image imageURL="images/img_3223.jpg"
	thumbURL="thumbnails/img_3223.jpg"
	linkURL="images/img_3223.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2011_April_Tea_Ceremony\images\img_3223.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Tea Master Connie Fong expertly prepares Monkey Picked Ti Quan Yin]]></caption>
  </image>
  <image imageURL="images/img_3263.jpg"
	thumbURL="thumbnails/img_3263.jpg"
	linkURL="images/img_3263.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2011_April_Tea_Ceremony\images\img_3263.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Tea Master Connie Fong with Mrs. Harper]]></caption>
  </image>
</simpleviewergallery>