<?xml version="1.0" encoding="UTF-8"?>

<simpleviewergallery title="Agincourt Public Library"
	galleryStyle="MODERN"
	thumbPosition="LEFT"
	textColor="FFFFFF"
	frameColor="FFFFFF"
	thumbRows="4"
	thumbColumns="3"
	showOpenButton="TRUE"
	showFullscreenButton="TRUE"
	frameWidth="20"
	maxImageWidth="800"
	maxImageHeight="800"
	imagePath=""
	thumbPath=""
	useFlickr="false"

>
  <image imageURL="images/tpl_4.jpg"
	thumbURL="thumbnails/tpl_4.jpg"
	linkURL="images/tpl_4.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2012_tpl\images\tpl_4.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Agincourt Toronto Public Library]]></caption>
  </image>
  <image imageURL="images/tpl_3.jpg"
	thumbURL="thumbnails/tpl_3.jpg"
	linkURL="images/tpl_3.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2012_tpl\images\tpl_3.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Pu-Erh Tea Cakes with some of our Beautiful Gift Packages]]></caption>
  </image>
  <image imageURL="images/tpl_2.jpg"
	thumbURL="thumbnails/tpl_2.jpg"
	linkURL="images/tpl_2.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2012_tpl\images\tpl_2.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Destiny Gift Boxes]]></caption>
  </image>
  <image imageURL="images/tpl_1.jpg"
	thumbURL="thumbnails/tpl_1.jpg"
	linkURL="images/tpl_1.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2012_tpl\images\tpl_1.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Tea Seminar at Agincourt Toronto Public Library]]></caption>
  </image>
</simpleviewergallery>