<?xml version="1.0" encoding="UTF-8"?>

<simpleviewergallery title="Lantern Festival 2007"
	galleryStyle="MODERN"
	thumbPosition="LEFT"
	textColor="FFFFFF"
	frameColor="FFFFFF"
	thumbRows="4"
	thumbColumns="3"
	showOpenButton="TRUE"
	showFullscreenButton="TRUE"
	frameWidth="20"
	maxImageWidth="800"
	maxImageHeight="800"
	imagePath=""
	thumbPath=""
	useFlickr="false"

>
  <image imageURL="images/op_9.jpg"
	thumbURL="thumbnails/op_9.jpg"
	linkURL="images/op_9.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2007_lantern_festival\images\op_9.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Lantern Festival, 2007]]></caption>
  </image>
  <image imageURL="images/op_10.jpg"
	thumbURL="thumbnails/op_10.jpg"
	linkURL="images/op_10.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2007_lantern_festival\images\op_10.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Lantern Festival, 2007]]></caption>
  </image>
  <image imageURL="images/op_11.jpg"
	thumbURL="thumbnails/op_11.jpg"
	linkURL="images/op_11.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2007_lantern_festival\images\op_11.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Lantern Festival, 2007]]></caption>
  </image>
  <image imageURL="images/op_3.jpg"
	thumbURL="thumbnails/op_3.jpg"
	linkURL="images/op_3.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2007_lantern_festival\images\op_3.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Lantern Festival, 2007]]></caption>
  </image>
  <image imageURL="images/op_4.jpg"
	thumbURL="thumbnails/op_4.jpg"
	linkURL="images/op_4.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2007_lantern_festival\images\op_4.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Lantern Festival, 2007]]></caption>
  </image>
  <image imageURL="images/op_6.jpg"
	thumbURL="thumbnails/op_6.jpg"
	linkURL="images/op_6.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2007_lantern_festival\images\op_6.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Lantern Festival, 2007]]></caption>
  </image>
  <image imageURL="images/op_7.jpg"
	thumbURL="thumbnails/op_7.jpg"
	linkURL="images/op_7.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2007_lantern_festival\images\op_7.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Lantern Festival, 2007]]></caption>
  </image>
  <image imageURL="images/op_8.jpg"
	thumbURL="thumbnails/op_8.jpg"
	linkURL="images/op_8.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2007_lantern_festival\images\op_8.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Lantern Festival, 2007]]></caption>
  </image>
  <image imageURL="images/op_5.jpg"
	thumbURL="thumbnails/op_5.jpg"
	linkURL="images/op_5.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2007_lantern_festival\images\op_5.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Lantern Festival, 2007]]></caption>
  </image>
  <image imageURL="images/op_1.jpg"
	thumbURL="thumbnails/op_1.jpg"
	linkURL="images/op_1.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2007_lantern_festival\images\op_1.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Lantern Festival, 2007]]></caption>
  </image>
  <image imageURL="images/op_2.jpg"
	thumbURL="thumbnails/op_2.jpg"
	linkURL="images/op_2.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2007_lantern_festival\images\op_2.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Lantern Festival, 2007]]></caption>
  </image>
</simpleviewergallery>