<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	useFlickr="false"
	galleryTitle="Chinese Heritage Weekend: April 2014"
	textColor="rgba(255,255,255,1)"
	thumbFrameColor="rgba(255,255,255,0.5)"
	showOpenButton="TRUE"
	showExpandButton="TRUE"
	showThumbsButton="TRUE"
	useThumbDots="FALSE"
	useFullscreenExpand="FALSE"

>
  <image imageURL="images/dscn6986.jpg"
	thumbURL="thumbnails/dscn6986.jpg"
	linkURL="images/dscn6986.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2014_chinese_heritage_we\images\dscn6986.jpg">
    <title><![CDATA[dscn6986.jpg]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/dscn6987.jpg"
	thumbURL="thumbnails/dscn6987.jpg"
	linkURL="images/dscn6987.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2014_chinese_heritage_we\images\dscn6987.jpg">
    <title><![CDATA[dscn6987.jpg]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/dscn7002.jpg"
	thumbURL="thumbnails/dscn7002.jpg"
	linkURL="images/dscn7002.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2014_chinese_heritage_we\images\dscn7002.jpg">
    <title><![CDATA[dscn7002.jpg]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/thumb.jpg"
	thumbURL="thumbnails/thumb.jpg"
	linkURL="images/thumb.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2014_chinese_heritage_we\images\thumb.jpg">
    <title><![CDATA[thumb.jpg]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/dscn7004.jpg"
	thumbURL="thumbnails/dscn7004.jpg"
	linkURL="images/dscn7004.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2014_chinese_heritage_we\images\dscn7004.jpg">
    <title><![CDATA[dscn7004.jpg]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/dscn7021.jpg"
	thumbURL="thumbnails/dscn7021.jpg"
	linkURL="images/dscn7021.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2014_chinese_heritage_we\images\dscn7021.jpg">
    <title><![CDATA[dscn7021.jpg]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>