<?xml version="1.0" encoding="UTF-8"?>

<simpleviewergallery title="Columbus Centre 2012"
	galleryStyle="MODERN"
	thumbPosition="LEFT"
	textColor="FFFFFF"
	frameColor="FFFFFF"
	thumbRows="4"
	thumbColumns="3"
	showOpenButton="TRUE"
	showFullscreenButton="TRUE"
	frameWidth="20"
	maxImageWidth="800"
	maxImageHeight="800"
	imagePath=""
	thumbPath=""
	useFlickr="false"

>
  <image imageURL="images/a.jpg"
	thumbURL="thumbnails/a.jpg"
	linkURL="images/a.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2012_columbus\images\a.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Emily with Kenneth D. Taylor, former Canadian ambassador to Iran.]]></caption>
  </image>
  <image imageURL="images/b.jpg"
	thumbURL="thumbnails/b.jpg"
	linkURL="images/b.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2012_columbus\images\b.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Tea Tasting]]></caption>
  </image>
  <image imageURL="images/c.jpg"
	thumbURL="thumbnails/c.jpg"
	linkURL="images/c.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2012_columbus\images\c.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Chinese Tea Culture Display]]></caption>
  </image>
</simpleviewergallery>