<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	useFlickr="false"
	galleryTitle="At The Rom: February 2017"
	textColor="rgba(255,255,255,1)"
	thumbFrameColor="rgba(255,255,255,0.5)"
	showOpenButton="TRUE"
	showExpandButton="TRUE"
	showThumbsButton="TRUE"
	useThumbDots="FALSE"
	useFullscreenExpand="FALSE"

>
  <image imageURL="images/20170218_110347__3_.jpg"
	thumbURL="thumbnails/20170218_110347__3_.jpg"
	linkURL="images/20170218_110347__3_.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2017_rom\images\20170218_110347__3_.jpg">
    <title><![CDATA[Our servers for today!]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/thumb.jpg"
	thumbURL="thumbnails/thumb.jpg"
	linkURL="images/thumb.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2017_rom\images\thumb.jpg">
    <title><![CDATA[thumb.jpg]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20170218_111843.jpg"
	thumbURL="thumbnails/20170218_111843.jpg"
	linkURL="images/20170218_111843.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2017_rom\images\20170218_111843.jpg">
    <title><![CDATA[Future Generation of Tea Masters]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20170218_124015_1_.jpg"
	thumbURL="thumbnails/20170218_124015_1_.jpg"
	linkURL="images/20170218_124015_1_.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2017_rom\images\20170218_124015_1_.jpg">
    <title><![CDATA[Happy Tea Enthusiasts!]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20170218_133747.jpg"
	thumbURL="thumbnails/20170218_133747.jpg"
	linkURL="images/20170218_133747.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2017_rom\images\20170218_133747.jpg">
    <title><![CDATA[Thank you for visiting us! See you next year!]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/dscn4726.jpg"
	thumbURL="thumbnails/dscn4726.jpg"
	linkURL="images/dscn4726.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2017_rom\images\dscn4726.jpg">
    <title><![CDATA[Tea Enthusiasts in every direction!]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>