<?xml version="1.0" encoding="UTF-8"?>
<juiceboxgallery
	useFlickr="FALSE"
	galleryTitle="At The Rom: February 2017"
	textColor="rgba(255,255,255,1)"
	thumbFrameColor="rgba(255,255,255,0.5)"
	showOpenButton="TRUE"
	showExpandButton="TRUE"
	showThumbsButton="TRUE"
	useThumbDots="FALSE"
	useFullscreenExpand="FALSE"
>
	<image imageURL="images/20170218_110347__3_.jpg" thumbURL="thumbnails/20170218_110347__3_.jpg" linkURL="" linkTarget="" >
		<title><![CDATA[Our servers for today!]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/thumb.jpg" thumbURL="thumbnails/thumb.jpg" linkURL="" linkTarget="" >
		<title><![CDATA[thumb.jpg]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/20170218_111843.jpg" thumbURL="thumbnails/20170218_111843.jpg" linkURL="" linkTarget="" >
		<title><![CDATA[Future Generation of Tea Masters]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/20170218_124015_1_.jpg" thumbURL="thumbnails/20170218_124015_1_.jpg" linkURL="" linkTarget="" >
		<title><![CDATA[Happy Tea Enthusiasts!]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/20170218_133747.jpg" thumbURL="thumbnails/20170218_133747.jpg" linkURL="" linkTarget="" >
		<title><![CDATA[Thank you for visiting us! See you next year!]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/dscn4726.jpg" thumbURL="thumbnails/dscn4726.jpg" linkURL="" linkTarget="" >
		<title><![CDATA[Tea Enthusiasts in every direction!]]></title>
		<caption><![CDATA[]]></caption>
	</image>
</juiceboxgallery>
