<?xml version="1.0" encoding="UTF-8"?>

<simpleviewergallery title="Chinese New Year (ROM)"
	galleryStyle="MODERN"
	thumbPosition="LEFT"
	textColor="FFFFFF"
	frameColor="FFFFFF"
	thumbRows="4"
	thumbColumns="3"
	showOpenButton="TRUE"
	showFullscreenButton="TRUE"
	frameWidth="20"
	maxImageWidth="800"
	maxImageHeight="800"
	imagePath=""
	thumbPath=""
	useFlickr="false"

>
  <image imageURL="images/rom2012_1.jpg"
	thumbURL="thumbnails/rom2012_1.jpg"
	linkURL="images/rom2012_1.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2012_rom\images\rom2012_1.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Tea Display for the Chinese New Year ROM Extravaganza]]></caption>
  </image>
  <image imageURL="images/rom2012_6.jpg"
	thumbURL="thumbnails/rom2012_6.jpg"
	linkURL="images/rom2012_6.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2012_rom\images\rom2012_6.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[(Left to Right) Ron So, Rita So, Emily Kung-Quance, Jeff Quance]]></caption>
  </image>
  <image imageURL="images/rom2012_3.jpg"
	thumbURL="thumbnails/rom2012_3.jpg"
	linkURL="images/rom2012_3.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2012_rom\images\rom2012_3.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Jeff Quance greets visitors]]></caption>
  </image>
  <image imageURL="images/rom2012_2.jpg"
	thumbURL="thumbnails/rom2012_2.jpg"
	linkURL="images/rom2012_2.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2012_rom\images\rom2012_2.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Ron So and Emily Kung-Quance discuss tea with visitors]]></caption>
  </image>
  <image imageURL="images/rom2012_4.jpg"
	thumbURL="thumbnails/rom2012_4.jpg"
	linkURL="images/rom2012_4.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2012_rom\images\rom2012_4.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Never too young to start drinking tea!]]></caption>
  </image>
  <image imageURL="images/rom2012_5.jpg"
	thumbURL="thumbnails/rom2012_5.jpg"
	linkURL="images/rom2012_5.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2012_rom\images\rom2012_5.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[rom2012_5.jpg]]></caption>
  </image>
</simpleviewergallery>