<?xml version="1.0" encoding="UTF-8"?>

<simpleviewergallery title="2013_cambridge"
	galleryStyle="MODERN"
	thumbPosition="LEFT"
	textColor="FFFFFF"
	frameColor="FFFFFF"
	thumbRows="4"
	thumbColumns="3"
	showOpenButton="TRUE"
	showFullscreenButton="TRUE"
	frameWidth="20"
	maxImageWidth="800"
	maxImageHeight="800"
	imagePath=""
	thumbPath=""
	useFlickr="false"

>
  <image imageURL="images/dscn5847.jpg"
	thumbURL="thumbnails/dscn5847.jpg"
	linkURL="images/dscn5847.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2013_cambridge\images\dscn5847.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Tea Tasting at Cambridge Food & Wine Society’s “25th Anniversary Celebration” & “Taste the World” event
October 21, 2013]]></caption>
  </image>
  <image imageURL="images/cambridge1.jpg"
	thumbURL="thumbnails/cambridge1.jpg"
	linkURL="images/cambridge1.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2013_cambridge\images\cambridge1.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Madeline Ziniak & Winnie Zhang, President of Cambridge Food & Wine Society, with Rita & Emily]]></caption>
  </image>
  <image imageURL="images/dscn5865.jpg"
	thumbURL="thumbnails/dscn5865.jpg"
	linkURL="images/dscn5865.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2013_cambridge\images\dscn5865.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Madeline Ziniak, National Vice President of Omni Television, recipient of Cambridge Food & Wine Society’s 2013 Lifetime Achievement Award with Ron So, President of Creative Art Glass Inc.]]></caption>
  </image>
  <image imageURL="images/leo.jpg"
	thumbURL="thumbnails/leo.jpg"
	linkURL="images/leo.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2013_cambridge\images\leo.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Chef Leo Chan, founder of Cambridge Food & Wine Society’s & Mrs. Arlene Chan, president of Jean Lumb Foundation]]></caption>
  </image>
</simpleviewergallery>