<?xml version="1.0" encoding="UTF-8"?>

<simpleviewergallery title="CEMA 2009"
	galleryStyle="MODERN"
	thumbPosition="LEFT"
	textColor="FFFFFF"
	frameColor="FFFFFF"
	thumbRows="4"
	thumbColumns="3"
	showOpenButton="TRUE"
	showFullscreenButton="TRUE"
	frameWidth="20"
	maxImageWidth="800"
	maxImageHeight="800"
	imagePath=""
	thumbPath=""
	useFlickr="false"

>
  <image imageURL="images/cema_b.jpg"
	thumbURL="thumbnails/cema_b.jpg"
	linkURL="images/cema_b.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2009_cema\images\cema_b.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[CEMA 2009]]></caption>
  </image>
  <image imageURL="images/cema_a.jpg"
	thumbURL="thumbnails/cema_a.jpg"
	linkURL="images/cema_a.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2009_cema\images\cema_a.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[CEMA 2009]]></caption>
  </image>
</simpleviewergallery>