<?xml version="1.0" encoding="UTF-8"?>
<juiceboxgallery
	useFlickr="FALSE"
	galleryTitle="Celebrating Asian Heritage Month: May 2014"
	textColor="rgba(255,255,255,1)"
	thumbFrameColor="rgba(255,255,255,0.5)"
	showOpenButton="TRUE"
	showExpandButton="TRUE"
	showThumbsButton="TRUE"
	useThumbDots="FALSE"
	useFullscreenExpand="FALSE"
>
	<image imageURL="images/dscn9924.jpg" thumbURL="thumbnails/dscn9924.jpg" linkURL="" linkTarget="" >
		<title><![CDATA[dscn9924.jpg]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/dscn9925.jpg" thumbURL="thumbnails/dscn9925.jpg" linkURL="" linkTarget="" >
		<title><![CDATA[dscn9925.jpg]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/dscn9935.jpg" thumbURL="thumbnails/dscn9935.jpg" linkURL="" linkTarget="" >
		<title><![CDATA[dscn9935.jpg]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/dscn9940.jpg" thumbURL="thumbnails/dscn9940.jpg" linkURL="" linkTarget="" >
		<title><![CDATA[dscn9940.jpg]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/dscn9944.jpg" thumbURL="thumbnails/dscn9944.jpg" linkURL="" linkTarget="" >
		<title><![CDATA[dscn9944.jpg]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/dscn9950.jpg" thumbURL="thumbnails/dscn9950.jpg" linkURL="" linkTarget="" >
		<title><![CDATA[dscn9950.jpg]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/thumb.jpg" thumbURL="thumbnails/thumb.jpg" linkURL="" linkTarget="" >
		<title><![CDATA[thumb.jpg]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/dscn9955.jpg" thumbURL="thumbnails/dscn9955.jpg" linkURL="" linkTarget="" >
		<title><![CDATA[dscn9955.jpg]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/dscn9962.jpg" thumbURL="thumbnails/dscn9962.jpg" linkURL="" linkTarget="" >
		<title><![CDATA[dscn9962.jpg]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/dscn9967.jpg" thumbURL="thumbnails/dscn9967.jpg" linkURL="" linkTarget="" >
		<title><![CDATA[dscn9967.jpg]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/dscn9969.jpg" thumbURL="thumbnails/dscn9969.jpg" linkURL="" linkTarget="" >
		<title><![CDATA[dscn9969.jpg]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/dscn9975.jpg" thumbURL="thumbnails/dscn9975.jpg" linkURL="" linkTarget="" >
		<title><![CDATA[dscn9975.jpg]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/dscn9976.jpg" thumbURL="thumbnails/dscn9976.jpg" linkURL="" linkTarget="" >
		<title><![CDATA[dscn9976.jpg]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/dscn9978.jpg" thumbURL="thumbnails/dscn9978.jpg" linkURL="" linkTarget="" >
		<title><![CDATA[dscn9978.jpg]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/dscn9980.jpg" thumbURL="thumbnails/dscn9980.jpg" linkURL="" linkTarget="" >
		<title><![CDATA[dscn9980.jpg]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/dscn9981.jpg" thumbURL="thumbnails/dscn9981.jpg" linkURL="" linkTarget="" >
		<title><![CDATA[dscn9981.jpg]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/dscn9986.jpg" thumbURL="thumbnails/dscn9986.jpg" linkURL="" linkTarget="" >
		<title><![CDATA[dscn9986.jpg]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/dscn9992.jpg" thumbURL="thumbnails/dscn9992.jpg" linkURL="" linkTarget="" >
		<title><![CDATA[dscn9992.jpg]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/dscn9999.jpg" thumbURL="thumbnails/dscn9999.jpg" linkURL="" linkTarget="" >
		<title><![CDATA[dscn9999.jpg]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/dscn0005.jpg" thumbURL="thumbnails/dscn0005.jpg" linkURL="" linkTarget="" >
		<title><![CDATA[dscn0005.jpg]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/dscn0009.jpg" thumbURL="thumbnails/dscn0009.jpg" linkURL="" linkTarget="" >
		<title><![CDATA[dscn0009.jpg]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/dscn0020.jpg" thumbURL="thumbnails/dscn0020.jpg" linkURL="" linkTarget="" >
		<title><![CDATA[dscn0020.jpg]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/dscn0022.jpg" thumbURL="thumbnails/dscn0022.jpg" linkURL="" linkTarget="" >
		<title><![CDATA[dscn0022.jpg]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/dscn0024.jpg" thumbURL="thumbnails/dscn0024.jpg" linkURL="" linkTarget="" >
		<title><![CDATA[dscn0024.jpg]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/dscn0026.jpg" thumbURL="thumbnails/dscn0026.jpg" linkURL="" linkTarget="" >
		<title><![CDATA[dscn0026.jpg]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/dscn0029.jpg" thumbURL="thumbnails/dscn0029.jpg" linkURL="" linkTarget="" >
		<title><![CDATA[dscn0029.jpg]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/dscn0032.jpg" thumbURL="thumbnails/dscn0032.jpg" linkURL="" linkTarget="" >
		<title><![CDATA[dscn0032.jpg]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/dscn0036.jpg" thumbURL="thumbnails/dscn0036.jpg" linkURL="" linkTarget="" >
		<title><![CDATA[dscn0036.jpg]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/dscn0041.jpg" thumbURL="thumbnails/dscn0041.jpg" linkURL="" linkTarget="" >
		<title><![CDATA[dscn0041.jpg]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/dscn0042.jpg" thumbURL="thumbnails/dscn0042.jpg" linkURL="" linkTarget="" >
		<title><![CDATA[dscn0042.jpg]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/dscn0046.jpg" thumbURL="thumbnails/dscn0046.jpg" linkURL="" linkTarget="" >
		<title><![CDATA[dscn0046.jpg]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/dscn0047.jpg" thumbURL="thumbnails/dscn0047.jpg" linkURL="" linkTarget="" >
		<title><![CDATA[dscn0047.jpg]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/dscn0050.jpg" thumbURL="thumbnails/dscn0050.jpg" linkURL="" linkTarget="" >
		<title><![CDATA[dscn0050.jpg]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/dscn0051.jpg" thumbURL="thumbnails/dscn0051.jpg" linkURL="" linkTarget="" >
		<title><![CDATA[dscn0051.jpg]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/dscn0053.jpg" thumbURL="thumbnails/dscn0053.jpg" linkURL="" linkTarget="" >
		<title><![CDATA[dscn0053.jpg]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/dscn0054.jpg" thumbURL="thumbnails/dscn0054.jpg" linkURL="" linkTarget="" >
		<title><![CDATA[dscn0054.jpg]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/dscn0058.jpg" thumbURL="thumbnails/dscn0058.jpg" linkURL="" linkTarget="" >
		<title><![CDATA[dscn0058.jpg]]></title>
		<caption><![CDATA[]]></caption>
	</image>
</juiceboxgallery>
