<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	useFlickr="false"
	galleryTitle="At Holt Renfrew: January 2017"
	textColor="rgba(255,255,255,1)"
	thumbFrameColor="rgba(255,255,255,0.5)"
	showOpenButton="TRUE"
	showExpandButton="TRUE"
	showThumbsButton="TRUE"
	useThumbDots="FALSE"
	useFullscreenExpand="FALSE"

>
  <image imageURL="images/1.jpg"
	thumbURL="thumbnails/1.jpg"
	linkURL="images/1.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2017_holt_renfrew\images\1.jpg">
    <title><![CDATA[Thank you for attending!]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2.jpg"
	thumbURL="thumbnails/2.jpg"
	linkURL="images/2.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2017_holt_renfrew\images\2.jpg">
    <title><![CDATA[Our Display]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/3.jpg"
	thumbURL="thumbnails/3.jpg"
	linkURL="images/3.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2017_holt_renfrew\images\3.jpg">
    <title><![CDATA[Three fresh teas ready. Please form an orderly line!]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/4.jpg"
	thumbURL="thumbnails/4.jpg"
	linkURL="images/4.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2017_holt_renfrew\images\4.jpg">
    <title><![CDATA[Tea Tasting Holt Renfrew]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/6.jpg"
	thumbURL="thumbnails/6.jpg"
	linkURL="images/6.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2017_holt_renfrew\images\6.jpg">
    <title><![CDATA[Either a Dragon or someone trying to sneak into line a second time]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/7.jpg"
	thumbURL="thumbnails/7.jpg"
	linkURL="images/7.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2017_holt_renfrew\images\7.jpg">
    <title><![CDATA[The Dragons love to have their pictures taken]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/5.jpg"
	thumbURL="thumbnails/5.jpg"
	linkURL="images/5.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2017_holt_renfrew\images\5.jpg">
    <title><![CDATA[Holt Renfrew 2017]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/8.jpg"
	thumbURL="thumbnails/8.jpg"
	linkURL="images/8.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2017_holt_renfrew\images\8.jpg">
    <title><![CDATA[Thank you for being a part of our New Year Celebration]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/thumb.jpg"
	thumbURL="thumbnails/thumb.jpg"
	linkURL="images/thumb.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2017_holt_renfrew\images\thumb.jpg">
    <title><![CDATA[Our Display]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/thumb3.jpg"
	thumbURL="thumbnails/thumb3.jpg"
	linkURL="images/thumb3.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2017_holt_renfrew\images\thumb3.jpg">
    <title><![CDATA[Three fresh teas ready. Please form an orderly line!]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/thumb4.jpg"
	thumbURL="thumbnails/thumb4.jpg"
	linkURL="images/thumb4.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2017_holt_renfrew\images\thumb4.jpg">
    <title><![CDATA[Tea Tasting Holt Renfrew]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/thumb6.jpg"
	thumbURL="thumbnails/thumb6.jpg"
	linkURL="images/thumb6.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2017_holt_renfrew\images\thumb6.jpg">
    <title><![CDATA[Either a Dragon or someone trying to sneak into line a second time]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/thumb7.jpg"
	thumbURL="thumbnails/thumb7.jpg"
	linkURL="images/thumb7.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2017_holt_renfrew\images\thumb7.jpg">
    <title><![CDATA[The Dragons love to have their pictures taken]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/thumb1.jpg"
	thumbURL="thumbnails/thumb1.jpg"
	linkURL="images/thumb1.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2017_holt_renfrew\images\thumb1.jpg">
    <title><![CDATA[Thank you for attending!]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/thumb8.jpg"
	thumbURL="thumbnails/thumb8.jpg"
	linkURL="images/thumb8.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2017_holt_renfrew\images\thumb8.jpg">
    <title><![CDATA[Thank you for being a part of our New Year Celebration]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/thumb2.jpg"
	thumbURL="thumbnails/thumb2.jpg"
	linkURL="images/thumb2.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2017_holt_renfrew\images\thumb2.jpg">
    <title><![CDATA[Our Display]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/thumb5.jpg"
	thumbURL="thumbnails/thumb5.jpg"
	linkURL="images/thumb5.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2017_holt_renfrew\images\thumb5.jpg">
    <title><![CDATA[Holt Renfrew 2017]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>