<?xml version="1.0" encoding="UTF-8"?>

<simpleviewergallery title="ROM 2014 - Chinese New Year"
	galleryStyle="MODERN"
	thumbPosition="LEFT"
	textColor="FFFFFF"
	frameColor="FFFFFF"
	thumbRows="4"
	thumbColumns="3"
	showOpenButton="TRUE"
	showFullscreenButton="TRUE"
	frameWidth="20"
	maxImageWidth="800"
	maxImageHeight="800"
	imagePath=""
	thumbPath=""
	useFlickr="false"

>
  <image imageURL="images/cny1.jpg"
	thumbURL="thumbnails/cny1.jpg"
	linkURL="images/cny1.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2014_ROM\images\cny1.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[ROM celebrates Chinese New Year 
Tea Tasting, January 25, 2014]]></caption>
  </image>
  <image imageURL="images/cny5.jpg"
	thumbURL="thumbnails/cny5.jpg"
	linkURL="images/cny5.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2014_ROM\images\cny5.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[ROM celebrates Chinese New Year 
Tea Tasting, January 25, 2014]]></caption>
  </image>
  <image imageURL="images/cny4.jpg"
	thumbURL="thumbnails/cny4.jpg"
	linkURL="images/cny4.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2014_ROM\images\cny4.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[ROM celebrates Chinese New Year 
Tea Tasting, January 25, 2014]]></caption>
  </image>
  <image imageURL="images/cny3.jpg"
	thumbURL="thumbnails/cny3.jpg"
	linkURL="images/cny3.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2014_ROM\images\cny3.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[ROM celebrates Chinese New Year 
Tea Tasting, January 25, 2014]]></caption>
  </image>
  <image imageURL="images/cny2.jpg"
	thumbURL="thumbnails/cny2.jpg"
	linkURL="images/cny2.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2014_ROM\images\cny2.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[ROM celebrates Chinese New Year 
Tea Tasting, January 25, 2014]]></caption>
  </image>
  <image imageURL="images/cny7.jpg"
	thumbURL="thumbnails/cny7.jpg"
	linkURL="images/cny7.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2014_ROM\images\cny7.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[With well known artist Tien Chang 章天柱, famous for painting horses]]></caption>
  </image>
  <image imageURL="images/cny6.jpg"
	thumbURL="thumbnails/cny6.jpg"
	linkURL="images/cny6.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2014_ROM\images\cny6.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[With well known artist Tien Chang 章天柱, famous for painting horses]]></caption>
  </image>
</simpleviewergallery>