<?xml version="1.0" encoding="UTF-8"?>

<simpleviewergallery title="Macau Club"
	galleryStyle="MODERN"
	thumbPosition="LEFT"
	textColor="FFFFFF"
	frameColor="FFFFFF"
	thumbRows="4"
	thumbColumns="3"
	showOpenButton="TRUE"
	showFullscreenButton="TRUE"
	frameWidth="20"
	maxImageWidth="800"
	maxImageHeight="800"
	imagePath=""
	thumbPath=""
	useFlickr="false"

>
  <image imageURL="images/macau.jpg"
	thumbURL="thumbnails/macau.jpg"
	linkURL="images/macau.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2011_macau\images\macau.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Emily and Rita with Macau Club (Toronto) Inc.'s President Joe Chan]]></caption>
  </image>
  <image imageURL="images/macau3.jpg"
	thumbURL="thumbnails/macau3.jpg"
	linkURL="images/macau3.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2011_macau\images\macau3.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Jose Coutinho of the Macau Special Admin. Region's Legislative Assembly]]></caption>
  </image>
  <image imageURL="images/macau4.jpg"
	thumbURL="thumbnails/macau4.jpg"
	linkURL="images/macau4.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2011_macau\images\macau4.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Macau Club (Toronto) Inc.'s Board of Directors]]></caption>
  </image>
  <image imageURL="images/macau2.jpg"
	thumbURL="thumbnails/macau2.jpg"
	linkURL="images/macau2.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2011_macau\images\macau2.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Tea Tasting]]></caption>
  </image>
  <image imageURL="images/macau1.jpg"
	thumbURL="thumbnails/macau1.jpg"
	linkURL="images/macau1.jpg"
	linkTarget="_blank"
	sourcePath="C:\workspace\teashop\httpdocs\eventviewer\2011_macau\images\macau1.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Tea Demonstration]]></caption>
  </image>
</simpleviewergallery>